@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #ffa500;
    --color-dark: #232323;
    --color-light: #eaeaea;
    --color-white: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--color-primary);
}

header {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 1.5rem 0;
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    font-weight: 700;
}

.hero {
    background-image: url("img/fundo.jpg");
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    min-height: 75vh;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #e85b04d2;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: var(--color-primary);
    border-radius: .5rem;
    color: var(--color-dark);
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    padding: .75rem 1.5rem;
    text-decoration: none;
}

section:not(#home) {
    padding: 4rem 1rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.menu-list>li {
    background-color: var(--color-light);
    border-radius: .5rem;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    width: calc(100% - 2rem);
    max-width: 25rem;
    text-align: left;
}

.menu-list img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.menu-list h3,
.menu-list p {
    padding: 1rem;
}

#about {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url("img/sobre.jpg");
    background-size: cover;
    background-position: center;
    color: var(--color-white);
}

address {
    margin: 2rem 0;
    font-style: italic;
}

address>* {
    display: block;
    margin: 1rem 0;
}

footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 1.5rem;
    text-align: center;
}

#contact {
    background-color: #ffd7bf;
}

address a {
    color: #e65100;
    font-weight: bold;
    text-decoration: none;
}

address a:hover {
    color: #ff6f00;
}

/* Media Queries */
@media (min-width: 768px) {
    .hero h1 {
        font-size: 4rem;
    }

    .menu-list>li {
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .menu-list>li {
        width: 28rem;
    }
}